#cabecera{
    color: #746;
    text-align: center;
    font-family: "calibri";

}

#body1
{
    color: #333;
    text-align: center;
    font-family: "Arial";
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 1em;


}